Calculator_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        -60
      ],
      "id": "7675b82f-e1cf-477e-9403-d4058f1750ed",
      "name": "When chat message received",
      "webhookId": "c1eaf529-0184-4098-bd7c-10875a629ff0"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        180,
        160
      ],
      "id": "a553c87f-0b8b-42a7-a275-fb80807fa666",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": "llama3.2:1b-instruct-fp16",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "8b70d6a8-2995-4018-a936-abc043cfa738",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "NEk7fx5ayWlYTvMd",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the infromation from previous node -> {{ $json.chatInput }}\nFeed it into the calculator tool and get its output.\nOutput only the number, nothing else.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        -60
      ],
      "id": "32824a69-c0d2-4edd-89ec-1f86a9bb6999",
      "name": "Calculator Agent",
      "alwaysOutputData": true,
      "executeOnce": true,
      "notesInFlow": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        320,
        160
      ],
      "id": "3863a7fd-9d4c-4f26-9398-8fc6840e44d5",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Calculator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Calculator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calculator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Calculator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "58a71938-cc4a-45ca-820b-d36dbc2b85a2",
  "meta": {
    "instanceId": "1e4c1c6d7cb015e3622f8e4e056ae2f929d1f357b581e899de135713a076f673"
  },
  "id": "zdGdgofuFscb7nft",
  "tags": []
}
